input[type="search"] {
    height: 64px !important;
}

.btn {
    margin: 20px 0 20px 0 !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}